
<section style="text-align:center">
    <h1 style="text-align:center">
      {{appCtrl.name}}'s AngularJS app with Angular 6 Elements and Stencil Components
    </h1>

      <div>
        <label> Enter name: </label>
        <input  ng-model="appCtrl.name">
      </div>


  <hr />

  <section>
    <first-ang-app name={{appCtrl.name}}></first-ang-app>
  </section>

  <hr />

  <section>
    <second-ang-app name={{appCtrl.name}}></second-ang-app>
  </section>

  <hr />

  <section>
    <stencil-component name="{{appCtrl.name}}"></stencil-component>
  </section>

</section>